.board_table {
  background-color: #398689;
  padding: 64px 16px;
}

.board {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #D9BB93;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.enabled {
  background-color: #E9F1DF;
  color: #78BE97;
  border-radius: 10px;
  cursor: pointer;
}

.enabled:hover {
  background-color: #FFCB05;
  color: #F23C50;
  transition: background 0.4s linear;
}

.not-allowed {
  cursor: not-allowed;
}
