<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">TicTacToe</h1>
    </div>
  </div>

  <div class="row game-mode-option">
      <div class="col-sm-5 nav-link">
        <a routerLink="/hva" routerLinkActive="active">Human vs. AI</a>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5 nav-link">
        <a routerLink="/ava" routerLinkActive="active">AI vs. AI</a>
      </div>
  </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

