.active {
  background-color: #DB4F37 !important;
  border: 2px solid #F2573C !important;
  color: #fff !important;
}

.title {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

.container {
  margin-top: 4em;
}

.game-mode-option {
  margin: 2em;
}

a {
  text-decoration: none;
}

.nav-link {
  text-align: center;
  padding: 1em 0;
}

.nav-link a {
  background-color: #fff;
  border: 2px solid #DB4F37;
  border-radius: 5px;
  color: #DB4F37;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 1em 6em;
}

.nav-link a:hover {
  background-color: #DB4F37;
  border: 2px solid #F2573C;
  color: #fff;
  cursor: pointer;
  transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

